@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #EBEBEB;
    --border-line: #333333;

    --title: #464646;
    --text: #666666;
    --text-highlight: #6E9ADD;

    --white: #fff;
    --red: #E83F5B;

    --main-yellow: #EAD237;
    --clearer-yellow: #EFDD69;
    --clearest-yellow: #F6ECA8;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%
    }
}

body {
    background-color: var(--background);
    color: var(--text);
}

body, input, textarea, button {
    font: 400 16px "Inter", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.content-canvas {
    display: flex;
    align-self: center;

    border: solid 1px var(--border-line);
    border-radius: 5px;
    background-color: var(--white);
    margin: 10px 10px;

    min-height: 200px;
}

.shaddai-container {
    display: flex;
    padding: 50px 50px;
}

.shaddai-cancel-button {
    background-color: #e1e0d8;
    color: #464646;
    border-radius: 20px;
    min-width: 158px;
    margin-bottom: 5px;
    float: right;
}