{% extends 'base.html' %}
{% block title %}Viagens{% endblock %}
{% load static %}
{% block primary_dependencies %}
<link rel="stylesheet" href="{% static 'styles/main.css' %}">
{% endblock %}

{% block content %}
<div id="travels" class="shaddai-container">
    <div v-if="booleans.update != true" style="margin: auto;">
        <div class="shaddai-canvas" style="width: 1200px;">
            <div class="shaddai-title">Viagens <a><i class="far fa-plus-square" style="cursor: pointer" data-toggle="modal" data-target="#addModal"></i></a></div>
            <div class="shaddai-canvas-content">
                <div class="shaddai-list">
                    <div v-for="(travel, id) in travels" class="shaddai-list-item">
                        {% verbatim %}
                        <hr class="shaddai-hr">
                        <a class="item-container" @click="selectRow(id)">
                            <div class="item-left-part">
                                <span class="item-title">Viagem {{ id }}</span>
                                <span class="item-subtitle">{{ routes[travel.route_id].origin }} - {{ routes[travel.route_id].origin }}</span>
                            </div>
                            <div class="item-right-part">
                                <span class="item-icon">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                            </div>
                        </a>
                        {% endverbatim %}
                    </div>
                </div>
                <div class="travel selected-item-container" v-if="selected">
                    {% verbatim %}
                    <div class="shaddai-title">Viagem {{ selected.id }} <a @click="booleans.update = true"><i style="cursor: pointer" class="far fa-edit"></i></a></div>
                    <div class="form-container">
                        <div class="item-container route">
                            <span class="item-title">Rota</span>
                            <span class="item-text">{{ routes[selected.route_id].origin }} - {{ routes[selected.route_id].origin }}</span>
                        </div>
                        <div class="item-container departure">
                            <span class="item-title">Saída</span>
                            <span class="item-text">{{ selected.departure }}</span>
                        </div>
                        <div class="item-container arrival">
                            <span class="item-title">Chegada</span>
                            <span class="item-text">{{ selected.arrival }}</span>
                        </div>
                        <div class="item-container price">
                            <span class="item-title">Preço</span>
                            <span class="item-text">{{ selected.base_price | priceFormat }}</span>
                        </div>
                    </div>
                    {% endverbatim %}
                </div>
            </div>
        </div>
        <div class="under-section">
            <a class="back-button" href="/terminal">Voltar</a>
        </div>
    </div>
    <div v-else style="margin: auto;">
        <div class="shaddai-canvas" style="width: 829px;">
            <div class="shaddai-title">Atualizar viagem <a @click="fillForm()"><i style="cursor: pointer" class="far fa-edit" data-toggle="modal" data-target="#editModal"></i></a></div>
            <div class="travel selected-item-container" v-if="selected" style="border-left: none; padding: 0;">
                {% verbatim %}
                <div class="form-container">
                    <div class="item-container route">
                        <span class="item-title">Rota</span>
                        <span class="item-text">{{ routes[selected.route_id].origin }} - {{ routes[selected.route_id].origin }}</span>
                    </div>
                    <div class="item-container departure">
                        <span class="item-title">Saída</span>
                        <span class="item-text">{{ selected.departure }}</span>
                    </div>
                    <div class="item-container arrival">
                        <span class="item-title">Chegada</span>
                        <span class="item-text">{{ selected.arrival }}</span>
                    </div>
                    <div class="item-container price">
                        <span class="item-title">Preço</span>
                        <span class="item-text">{{ selected.base_price | priceFormat }}</span>
                    </div>
                </div>
                {% endverbatim %}
            </div>
        </div>
        <div class="under-section">
            <a class="delete-button" data-toggle="modal" data-target="#deleteModal">Apagar</a>
            <a class="back-button" @click="booleans.update = false">Voltar</a>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="shaddai-title">Deletar viagem</div>
                    <p>
                        Tem certeza que quer excluir esta viagem?
                        <br> <br>
                        Todas as interações com relação à ela serão excluídas
                    </p>
                    <button class="btn shaddai-proceed-button" @click="deleteTravel()" data-dismiss="modal">Prosseguir</button>
                    <button class="btn shaddai-cancel-button" style="margin-right: 5px" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="shaddai-title" style="margin-bottom: 15px;">Editar viagem</div>
                    <div class="shaddai-form">
                        <div class="input-group">
                            <span class="label">Nome </span>
                            <select v-model="form.route" class="shaddai-input shaddai-select">
                                <option v-for="(route, id) in routes" v-bind:value="{ id: id }">
                                    {% verbatim %}
                                    {{ route.name }}
                                    {% endverbatim %}
                                </option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="label">Saída </span>
                            <input v-model="form.departure" class="shaddai-input one-line"/>
                        </div>
                        <div class="input-group">
                            <span class="label">Chegada </span>
                            <input v-model="form.arrival" class="shaddai-input one-line"/>
                        </div>
                        <div class="input-group">
                            <span class="label">Preço base </span>
                            <input v-model="form.base_price" class="shaddai-input one-line"/>
                        </div>
                    </div>
                    <button class="btn shaddai-proceed-button" @click="updateTravel()" data-dismiss="modal">Prosseguir</button>
                    <button class="btn shaddai-cancel-button" style="margin-right: 5px" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="shaddai-title" style="margin-bottom: 15px;">Adicionar viagem</div>
                    <div class="shaddai-form">
                        <div class="input-group">
                            <span class="label">Nome </span>
                            <select v-model="form.route" class="shaddai-input shaddai-select">
                                <option v-for="(route, id) in routes" v-bind:value="{ id: id }">
                                    {% verbatim %}
                                    {{ route.name }}
                                    {% endverbatim %}
                                </option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="label">Saída </span>
                            <input v-model="form.departure" class="shaddai-input one-line"/>
                        </div>
                        <div class="input-group">
                            <span class="label">Chegada </span>
                            <input v-model="form.arrival" class="shaddai-input one-line"/>
                        </div>
                        <div class="input-group">
                            <span class="label">Preço base </span>
                            <input v-model="form.base_price" class="shaddai-input one-line"/>
                        </div>
                    </div>
                    <button class="btn shaddai-proceed-button" @click="addTravel()" data-dismiss="modal">Prosseguir</button>
                    <button class="btn shaddai-cancel-button" style="margin-right: 5px" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% load static %}
{% block secondary_dependencies %}
<script src="{% static 'components/travels/main.js' %}"></script>
{% endblock %}